<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.2/sockjs.min.js"></script>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
    <title>구매하기</title>
</head>
<body>
<div class="container" id="app" v-cloak>
    <h1>상품 목록</h1>
    <div class="list-group" style="overflow: auto;">
        <div v-for="items in groupedItems" class="row">
            <div v-for="item in items" class="col-4">
                <div class="panel">
                    <img v-bind:src="item.img" v-bind:id="item.id" style="margin:4px;">
                    {{item.name}}
                </div>
            </div>
        </div>
    </div>
    <transition name="fade">
        <div class="loading" v-show="loading">
            <span style="font-size:32px;">Loading</span>
        </div>
    </transition>
</div>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            loading: false,
            limitNumber: 10,
            items: []
        },
        created() {
            this.getItems();
        },
        mounted() {
            const that = this;
            window.addEventListener('scroll', function(e) {
                if (window.scrollY >= 235 + (that.limitNumber - 10) * 100) {
                    that.loadMore();
                }
            });
        },
        computed: {
            groupedItems() {
                const chunked = []

                // 주어진 배열을 탐색
                for (let element of this.items) {
                    const last = chunked[chunked.length - 1]

                    if (!last || last.length === 3) {
                        chunked.push([element])
                    } else {
                        last.push(element)
                    }
                }

                return chunked.slice(0, this.limitNumber);
            }
        },
        methods: {
            getItems: function() {
                for (let i = 1; i <= 1000; i++) {
                    let item = {
                        "id": i,
                        "name": "item" + i,
                        "img": "https://placeimg.com/100/100/any"
                    }
                    this.items.push(item);
                }
            },
            loadMore: function() {
                this.loading = true;
                setTimeout(e => {
                    this.limitNumber += 2;
                    this.loading = false;
                }, 2000);
            }
        }
    });
</script>
</body>
</html>